.header {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: left;
}

.logo {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

.content {
  padding: 10px 20px;
}

.searchbar {
  padding : 5px;
  border-radius: 10px;
  border: 1px solid black;
  width: 30%;
  font-size: 25px;
}